<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../frameworks/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../frameworks/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="../frameworks/css/nav.css" />
    <link rel="stylesheet" href="../frameworks/css/menu.css" />
    <link rel="stylesheet" href="../frameworks/css/videos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/dda5cbe6fd.js"
      crossorigin="anonymous"
    ></script>

    <title>VelixClips</title>
  </head>
  <body>
    <!-- Including Nav Structure -->
    <%- include('../../includes/nav.ejs') %>

    <section class="row col-12 container">
      <%- include('../../includes/menu.ejs') %>

      <main class="col">
        <div class="section-container">
          <span class="section-title">History Videos</span>
          <span class="section-content" id="recommended-videos">
            This section is currently under development and will be available
            soon!</span
          >
        </div>
      </main>
    </section>

    <%- include('../../includes/footer.ejs') %>
    <input type="text" hidden value="<%= user._id %>" id="userID" disabled />
    <script src="../frameworks/js/jquery-3.3.1.min.js"></script>
    <script src="../frameworks/js/bootstrap.bundle.min.js"></script>
    <script src="../frameworks/js/bootstrap.min.js"></script>
    <script src="../frameworks/js/menu.js"></script>
    <script src="main.js"></script>
  </body>
</html>
